<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cite.ansteph.ponda">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.meeting.NewMeeting"
            android:label="@string/title_activity_new_meeting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.meeting.MeetingHistory"
            android:label="@string/title_activity_meeting_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.attendee.AttendeeList"
            android:label="@string/title_activity_attendee_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.client.ClientList"
            android:label="@string/title_activity_client_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.project.ProjectList"
            android:label="@string/title_activity_project_list"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".contentprovider.AttendeeContentProvider"
            android:authorities="cite.ansteph.ponda.contentprovider.attendeecontentprovider"
            android:enabled="true"
            android:exported="false"></provider>
    </application>

</manifest>